.header h1 {
  /* font-family: 'Pattaya', sans-serif; */
  font-family: 'Satisfy', cursive;
  font-size: 3.4em;
}

.header p {
  font-size: 1.2em;
}

.header h1, 
.header p {
  text-shadow: 1px 5px 6px rgba(0, 0, 0, .6);
}

.header {
  background-image: url(../assets/images/Banner.jpeg);
  background-position: center;
  padding: 1em;
  margin: 0;
  /* background-color: #5AF; */
  color: #fff;
  height: 200px;
}


.searchInput,
#continents,
#countries {
  font-size: 1em;
  width: 100%;
  margin-bottom: .7em;
  border-radius: 5%;
  margin-bottom: 1em;
}
.searchInput {
  margin-top: .7em;
}
.search {
  box-shadow: 0px 5px 5px rgba(0, 0, 0, .2);
}

.searchInput {
  border: 1px solid black;
}

.image {
  width: 100%;
}