/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  max-width: 1300px;
}

@media (min-width: 1300px) {
  body {
    height: 100%;
    margin: 0 auto;
  }
  footer {
    width: 100%;
  }
}

#page-content {
  flex: 1 0 auto;
}

#footer {
  flex-shrink: none;
  background-color: #704214;
  color: #fff;
}

.contact:link {
  color: #fff;
}

.contact {
  float: right;
}

p {
  font-family: 'Source Serif Pro', serif;
}